*{
box-sizing:border-box;
margin:0;
padding:0;
font-family:Arial;
}

body{
background:#0d1117;
color:white;
display:flex;
justify-content:center;
padding:20px;
}

.wrapper{
max-width:600px;
width:100%;
}

header{
text-align:center;
margin-bottom:25px;
}

.card{
background:#161b22;
padding:20px;
border-radius:15px;
border:1px solid #30363d;
}

.upload-area{
border:2px dashed #555;
padding:40px;
text-align:center;
border-radius:10px;
cursor:pointer;
margin-bottom:20px;
}

.settings{
display:grid;
gap:10px;
margin-bottom:20px;
}

select,input{
padding:10px;
border-radius:6px;
border:none;
}

button{
padding:15px;
background:#238636;
color:white;
border:none;
border-radius:10px;
font-weight:bold;
cursor:pointer;
}

.result{
margin-top:30px;
}

.hidden{
display:none;
}

.stats{
display:flex;
justify-content:space-between;
margin-bottom:15px;
}

.compare-container{
position:relative;
overflow:hidden;
border-radius:10px;
}

.compare-container img{
width:100%;
display:block;
}

#beforeImg{
position:absolute;
top:0;
left:0;
width:50%;
overflow:hidden;
}

.slider{
position:absolute;
top:0;
left:50%;
width:3px;
height:100%;
background:white;
cursor:ew-resize;
}

#downloadBtn{
display:block;
margin-top:15px;
background:#1f6feb;
padding:12px;
text-align:center;
border-radius:8px;
text-decoration:none;
color:white;
}
